pymongo==3.13.0
colorama
searchtweets-v2==1.1.1
pandas
beanie==1.8.6
pydantic
motor
celery
redis
requests
langid
bs4
flower
pytube==11.0.1
scenecut_extractor==0.3.3
telethon
vk_api
eldar==0.0.8
unidecode==1.3.4
